/* --------------------------------------------- ESTILOS BASE --------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: #fff;
}

h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

._mensaje_error, ._mensaje_inte {
    text-align: center;
    padding-bottom: 15px;
}


.contenedor{
    width: 90%;
    max-width: 800px;
    margin: 25px auto;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #035f22;
    box-shadow: 0 2px 10px #035f22, 0 2px 10px #035f22;
}

.Dato{
    display: block;
    padding: 10px 0;
}

._info{
    display: block;
    padding: 10px 0;
}

._input{
    width: 50%;
    background: transparent;
    border-bottom: 2px solid #035f22;
    border-right: none;
    color: #fff;
    font-size: 17px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}

._input:focus {
    box-shadow: 0 0 5px #035f22;
}

.cal{
    padding: 15px 35px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cal:hover {
    background: #035f22;
    transition: 1s;
}

.formulario__grupo-btn-enviar {
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
}


